# Build directory
build/

# Python virtual environment
# Useful when developing conanfile.py
.venv/

# CMake user presets
# https://cmake.org/cmake/help/latest/manual/cmake-presets.7.html#introduction
CMakeUserPresets.json
